* {
    margin: 0;
    padding: 0;
}
body{
    background-color: lightgrey;
}
.main{
    margin: 0 auto;
    padding: 10px 10% 10px 10%;
    background-color: grey;
    color: white;
}

.main a{
    text-decoration: none;
    color: white;
}

.main a:hover{
    color: #282828;
    font-weight: 500;
}

.line{
    border-top: 2px solid darkgrey;
}

.atask_item{
    border-bottom: 1px solid silver;
    padding: 5px 0;
}

.meniu{
    padding: 10px 5% 10px 5%;
}

.meniu input{
    border-radius: 5px;
    padding: 1px 5px;
}

.meniu select{
    border-radius: 5px;
    padding: 1px 2px;
}

button{
    border-radius: 5px;
    padding: 2px 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}